[Unit]
Description=Health Check

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/devops-week1-project
ExecStart=/home/ubuntu/devops-week1-project/scripts/status.sh
